.form1 {
  margin: 200px 0 200px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 25vw);
}

.submit1 {
  margin: 0;
  background-color: rgb(175, 238, 217);
  color: blueviolet;
  padding: 35px;
  min-width: 250px;
  grid-column: 3/4;
  border: 15px solid gray;
}

.img1 {
  background-image: url(341.png);
  background-position: 50% 50%;
  background-size: cover;
  grid-column: 2/3;
}
.image1 {
  width: auto;
  height: 45vh;

}
input {
  color: gray;
  border: 1px solid rgb(86, 39, 179);
  border-radius: 4px;
  height: 30px;
}
#value1 {
  color: rgb(79, 42, 118);
}

/*.otst1 {
  height: 200px;
}*/